h1{
    color: aqua; 
    background-color: darksalmon;
}
#id_titulo4{
    color: rgb(88, 219, 94); 
    background-color: rgb(47, 104, 72);
}

.subtitulo{
    color: rgb(233, 144, 206); 
    background-color: rgb(243, 40, 152);
}